{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'news.css' %}">
{% endblock %}
{% block content %}
<div class="page-container">
    <h1 class="page-heading">Latest News</h1>

    <div class="news-section">
        <p class="news-desc">
            Stay up to date with the latest news, updates, and stories from around the world. 
            Check back often for fresh articles and trending topics!
        </p>

       
    </div>
</div>
{% endblock %}
